@model Praca_Inżynierska.ViewModels.RegisterViewModel


@{

    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}






<form asp-action="UsersEdit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
    <div class="col-md-4">
        <h4>Data Zamówienia</h4>
        

        <h4>Produkt</h4>
        <div class="d-flex flex-row">
            <div class="form-group">
                <label asp-for="Login" class="control-label"></label>
                <input asp-for="Login" class="form-control" />
                <span asp-validation-for="Login" class="text-danger"></span>
            </div>
            &nbsp;
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            

        </div>
        <div class="d-flex flex-row">
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            &nbsp;
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
        </div>
        
        <div class="d-flex flex-row">
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
            &nbsp;
            <div class="form-group">
                <a asp-action="UsersList" class="btn btn-primary">Back to List</a>
            </div>
        </div>
    </div>
</form>






