@model Praca_Inżynierska.ViewModels.OrderViewModel
    <link rel="stylesheet" href="~/css/LabelStyle.css" />

    <div class="content">
        
            <div class="title">Przedmiot </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="user-details">

                <div class="input-box">
                    <label asp-for="Product.Weight" class="details"></label>
                    <input asp-for="Product.Weight" type="number" placeholder="Wprowadz ..." required />
                    <span asp-validation-for="Product.Weight" class="text-danger"></span>
                </div>

                <div class="input-box">
                    <label asp-for="Product.Height" class="details"></label>
                    <input asp-for="Product.Height" type="number" placeholder="Wprowadz ..." required />
                    <span asp-validation-for="Product.Height" class="text-danger"></span>
                </div>

                <div class="input-box">
                    <label asp-for="Product.Length" class="details"></label>
                    <input asp-for="Product.Length" type="number" placeholder="Wprowadz ..." required />
                    <span asp-validation-for="Product.Length" class="text-danger"></span>
                </div>

                <div class="input-box">
                    <label asp-for="Product.Width" class="details"></label>
                    <input asp-for="Product.Width" type="number" placeholder="Wprowadz ..." required />
                    <span asp-validation-for="Product.Width" class="text-danger"></span>
                </div>

                <div class="input-box">
                    <label asp-for="Product.Count" class="details"></label>
                    <input asp-for="Product.Count" type="number" placeholder="Wprowadz ..." required />
                    <span asp-validation-for="Product.Count" class="text-danger"></span>
                </div>

                <div class="input-box">
                    <label asp-for="Product.Details" class="details"></label>
                    <input asp-for="Product.Details" type="text" placeholder="Wprowadz ..." required />
                    <span asp-validation-for="Product.Details" class="text-danger"></span>
                </div>


            </div>
            
        
    </div>




    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
