@model Praca_Inżynierska.ViewModels.RegisterViewModel

@{
    ViewData["Title"] = "Register";
}
<link href="~/css/LogReg.css" rel="stylesheet" />
<div id="RegForm">
    <h1>Rejestracja</h1>

    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Register">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="FirstName" class="control-label"></label>
                    <input asp-for="FirstName" placeholder="Name" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LastName" class="control-label"></label>
                    <input asp-for="LastName" placeholder="Nazwisko" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Login" class="control-label"></label>
                    <input asp-for="Login" placeholder="Login" class="form-control" />
                    <span asp-validation-for="Login" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" placeholder="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" placeholder="Hasło" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfrirmPassword" class="control-label"></label>
                    <input asp-for="ConfrirmPassword" placeholder="Powtórz hasło" class="form-control" />
                    <span asp-validation-for="ConfrirmPassword" class="text-danger"></span>
                </div>

                <div class="g-recaptcha" data-sitekey="6LfSsKUaAAAAABbqZtFyCWUARsmM4-HGFZuhi0U0"></div>
                <span style="display:inline-block ; font-size:15px; color:red">
                    @ViewBag.Message
                </span>

                <div class="form-group">
                    <input type="submit" value="Zarejestruj" class="btn btn-primary" id="myButton" />
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
